<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

      <class name="com.restfulbooker.RestfulBookerE2ETest">
      <methods>
        <include name="createBookingTest"/>
        <include name="getBookingTest"/>
        <include name="updateBookingTest"/>
        <include name="updatePartialBookingTest"/>
        <include name="deleteBookingTest"/>
        <include name="checkBookingIsDeleted"/>
      </methods>
      </class>
    </classes>


  </test> <!-- Test -->
</suite> <!-- Suite -->
